 
<ion-content>
  <ion-button color="primary"  [routerLink]="'/annonce'" routerDirection="backword">
    <ion-icon name="close"></ion-icon>
</ion-button>
  <ion-card class="welcome-card" >
      <ion-card-title text-center>{{ annonce.titre }}</ion-card-title>
    <ion-card-header>
      <ion-card-subtitle>{{annonce.date | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-img src="./assets/{{annonce.image}}"></ion-img>
    <ion-card-content>
      <p>{{ annonce.description }}</p>
    </ion-card-content>
  </ion-card>
  

</ion-content>
